.message-info {
    margin-top: 10vh;
}

.select {
    transition: all 0.3s;

}

.ant-select-item-option-content {
    text-align: left;
    font-size: medium;
    font-weight: 300;
}

.menu {

    border: 1px solid black;
    text-align: center;

    font: {}

    font-weight: 500;
}